/* .cards-list {
  @apply hidden;
}

.cards-list > * {
  @apply visible;
}

.cards-list > * {
  transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
}


.cards-list:hover > * {
  opacity: 0.4;
  transform: scale(0.9);
}


.cards-list > *:hover {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0ms, 0ms;
} */

.card {
  padding: 0;
  overflow: hidden;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  transition-property: box-shadow, transform;
}

.card:hover {
  @apply scale-95;
}

.card-body {
  transition: transform 0.4s ease-in-out;
}

.cards-list .post-cat {
  @apply bg-uncategorized;
}
.category-documentary .post-cat {
  @apply bg-documentary;
}
.category-features .post-cat {
  @apply bg-features;
}
.category-pilot .post-cat {
  @apply bg-pilot;
}
.category-unscripted .post-cat {
  @apply bg-unscripted;
}
.category-studio-finance .post-cat {
  @apply bg-studio;
}
.category-other .post-cat,
.category-other .accent {
  @apply bg-other;
}
.category-scripted-series .post-cat {
  @apply bg-scripted;
}

.post-cat-badge {
  @apply bg-uncategorized;
}
.category-documentary .post-cat-badge {
  @apply bg-documentary/[.75];
}
.category-features .post-cat-badge {
  @apply bg-features/[.75];
}
.category-pilot .post-cat-badge {
  @apply bg-pilot/[.75];
}
.category-unscripted .post-cat-badge {
  @apply bg-unscripted/[.75];
}
.category-studio-finance .post-cat-badge {
  @apply bg-studio/[.75];
}
.category-other .post-cat-badge,
.category-other .accent {
  @apply bg-other/[.75];
}
.category-scripted-series .post-cat-badge {
  @apply bg-scripted/[.75];
}

/* .hdr-cat {
  @apply bg-uncategorized/[.6] border-uncategorized;
}
.category-documentary .hdr-cat {
  @apply bg-documentary/[.6] border-documentary;
}
.category-features .hdr-cat {
  @apply bg-features/[.6] border-features;
}
.category-pilot .hdr-cat {
  @apply bg-pilot/[.6] border-pilot;
}
.category-unscripted .hdr-cat {
  @apply bg-unscripted/[.6] border-unscripted;
}
.category-studio-finance .hdr-cat {
  @apply bg-studio/[.6] border-studio;
}
.category-other .hdr-cat {
  @apply bg-other/[.6] border-other;
}
.category-scripted-series .hdr-cat {
  @apply bg-scripted/[.6] border-scripted;
} */
/* 
.accent {
  @apply text-uncategorized;
}
.category-documentary .accent {
  @apply text-documentary;
}
.category-features .accent {
  @apply text-features;
}
.category-pilot .accent {
  @apply text-pilot;
}
.category-unscripted .accent {
  @apply text-unscripted;
}
.category-studio-finance .accent {
  @apply text-studio;
}
.category-other .accent {
  @apply text-other;
}
.category-scripted-series .accent {
  @apply text-scripted;
} */
/* 
.card-post {

}

.is-active .card-post,
.card-post:hover {

}
.is-active.category-documentary .card-post,
.category-documentary .card-post:hover {
  @apply border-documentary;
}
.is-active.category-features .card-post,
.category-features .card-post:hover {
  @apply border-features;
}
.is-active.category-pilot .card-post,
.category-pilot .card-post:hover {
  @apply border-pilot;
}
.is-active.category-unscripted .card-post,
.category-unscripted .card-post:hover {
  @apply border-unscripted;
}
.is-active.category-studio-finance .card-post,
.category-studio-finance .card-post:hover {
  @apply border-studio;
}
.is-active.category-other .card-post,
.category-other .card-post:hover {
  @apply border-other;
}
.is-active.category-scripted-series .card-post,
.category-scripted-series .card-post:hover {
  @apply border-scripted;
} */
