.tabs-nav__item.is-active {
  /* opacity: 1; */
}

.tabs-item:hover {
  opacity: 1;
}

.tabs-article.is-active {
  @apply visible fixed left-0 top-0 block w-full opacity-100 h-screen overflow-hidden lg:relative lg:left-auto;
}

.tabs-article.is-active {
  /* when modal active */
  /* touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden; */
  /* Other browsers */
  /* overscroll-behavior: none; */
}
