@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'common/fonts';
@import 'common/forms';
@import 'components/articles';
@import 'components/buttons';
@import 'components/cards';
@import 'components/pagination';
/* @import 'components/search'; */
@import 'components/tabs';
@import 'layout/nav';
@import 'layout/footer';
@import 'vendors/gravity-forms';
@import 'vendors/ivory-search';
@import 'vendors/glide';
@import '../../node_modules/@glidejs/glide/dist/css/glide.core.min.css';
@import '../../node_modules/@glidejs/glide/dist/css/glide.theme.min.css';

body {
  @apply bg-white;
  background-image: url('../images/bg.png');
  background-repeat: repeat;
}

.btn {
  @apply rounded;
}

@layer components {
  .list-link {
    @apply relative inline-block text-white no-underline cursor-pointer;
  }

  .list-link:before {
    @apply bg-link absolute -bottom-0.5 left-0 z-[1] h-px md:h-0.5 w-full origin-[0%_50%] scale-0 duration-300;
    content: '';
  }

  .list-link:hover:before {
    @apply scale-100;
  }

  .list-link:after {
    @apply bg-link absolute -bottom-0.5 md:h-0.5 left-0 z-0 h-px w-full;
    content: '';
  }

  .list-link--dark:after {
    @apply bg-link-dark;
  }
}

@layer utilities {
  .centered {
    @apply fixed left-1/2 -translate-x-1/2;
  }

  .centered-vertical {
    @apply fixed top-1/2 -translate-y-1/2;
  }

  .centered-horizontal {
    @apply fixed left-1/2 -translate-x-1/2;
  }

  .centered-none {
    @apply static inset-auto;
  }

  .wrapper-xs {
    @apply mx-auto w-full max-w-sm;
  }
  .wrapper-sm {
    @apply mx-auto w-full max-w-screen-md;
  }
  .wrapper {
    @apply mx-auto w-full max-w-sm md:max-w-screen-xl;
  }
  .wrapper-l {
    @apply mx-auto w-10/12 max-w-screen-2xl;
  }
}
