@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'common/fonts';
@import 'common/forms';
@import 'components/buttons';
@import 'components/cards';
@import 'components/search';
@import 'components/tabs';
@import 'vendors/gravity-forms';
@import 'vendors/ivory-search';

body {
  @apply bg-white font-inter;
  color: #8c8d8d !important;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-bran-bold prose text-slate-950 tracking-wide;

  color: #020617 !important;
}

li,
p {
  color: #a8a8a8 !important;
}

strong {
  color: #020617 !important;
}

h3 {
  @apply text-3xl mb-6;
}

p {
  @apply break-words text-pretty leading-normal antialiased mb-6;
}

p a,
li a,
blockquote a {
  color: rgba(232, 232, 244, 0.9);
  border-color: rgba(232, 232, 244, 0.8);
  border-width: 2px;
  display: inline;
  padding-bottom: 0px;
  border-bottom: 1.5px solid #121215;
}

.wrapper {
  @apply mx-auto w-full max-w-screen-xl;
}
