@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
}

.container {
  max-width: none;
  width: 100%;
}

.tabs {
}

.tabs-nav__item {
  cursor: pointer;
  transition: opacity;
  transition-duration: 0.25s;
}

.tabs-nav__item.is-active {
  /* opacity: 1; */
}

.tabs-item:hover {
  opacity: 1;
}

.tabs-article.is-active {
  @apply fixed h-full visible overflow-y-auto opacity-100 top-0 lg:sticky lg:overflow-visible lg:order-first;
}

.card {
  cursor: pointer;
  animation-duration: 0.25s;
  animation-fill-mode: both;
  /* animation-name: lbWRkT; */
  animation-timing-function: ease-in-out;
}
